@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  cursor: none;
}

.cursor {
  position: fixed;
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 999;
  pointer-events: none;
  transition: all 200ms ease;
  transition-property: opacity, background-color, transform;
}

.c--hidden {
  opacity: 0;
}

.c--click {
  transform: translate(-50%, -50%) scale(2.5);
  background-color: #121212;
}

.c--hover {
  transform: translate(-50%, -50%) scale(3.25);
  background-color: #60606072;
  cursor: none;
}

.cursor-ring {
  position: fixed;
  width: 22px;
  height: 22px;
  border: 2px solid rgba(31, 30, 30, 0.808);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  -webkit-transition-duration: 20ms;
  transition-duration: 20ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  will-change: width, height, transform, border;
  z-index: 999;
  pointer-events: none;
}

.c-ring--click {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 30, 30, 0.623);
}

.c-ring--hover {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 30, 30, 0.623);
}
